# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# macOS / system
.DS_Store

# PyCharm
.idea/

# Docker / local cache
*.sqlite3