{% extends "tasks/base.html" %}

{% block content %}

<div style="display:flex; justify-content:center; align-items:center; margin-top:80px;">

<div style="
background:white;
color:#1f2937;
padding:40px;
border-radius:12px;
width:360px;
box-shadow:0 12px 30px rgba(0,0,0,0.2);
">

<h2 style="text-align:center; margin-bottom:25px;">Edit Task</h2>

<form method="POST">

{% csrf_token %}

<label style="font-size:14px;">Title</label>

<input
type="text"
name="title"
value="{{ task.title }}"
style="
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #e5e7eb;
border-radius:6px;
">

<label style="font-size:14px;">Status</label>

<select
name="status"
style="
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #e5e7eb;
border-radius:6px;
">

<option value="pending" {% if task.status == "pending" %}selected{% endif %}>Pending</option>

<option value="completed" {% if task.status == "completed" %}selected{% endif %}>Completed</option>

</select>

<label style="font-size:14px;">Priority</label>

<select
name="priority"
style="
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #e5e7eb;
border-radius:6px;
">

<option value="low" {% if task.priority == "low" %}selected{% endif %}>Low</option>

<option value="medium" {% if task.priority == "medium" %}selected{% endif %}>Medium</option>

<option value="high" {% if task.priority == "high" %}selected{% endif %}>High</option>

</select>

<label style="font-size:14px;">Deadline</label>

<input
type="date"
name="deadline"
min="{{ today }}"
value="{{ task.deadline }}"
style="
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:20px;
border:1px solid #e5e7eb;
border-radius:6px;
">

<button
type="submit"
style="
width:100%;
padding:12px;
background:#4f46e5;
color:white;
border:none;
border-radius:8px;
font-weight:500;
cursor:pointer;
">

Update Task

</button>

</form>

<div style="text-align:center; margin-top:15px;">

<a href="/dashboard/" style="color:#4f46e5; text-decoration:none; font-size:14px;">
Back to Dashboard
</a>

</div>

</div>

</div>

{% endblock %}
